@import 'min';


.gradient-custom-2 {
    /* fallback for old browsers */
    background: brightness($porj_Shades);

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, $porj_Shades, $porj_red, $porj_ping, $porj_pinglight);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, $porj_Shades, $porj_red, $porj_ping, $porj_pinglight);
}