@import url(https://use.fontawesome.com/releases/v5.13.0/css/all.css);
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css);
@font-face {
  font-family: "Lato-Black ";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato-BlackItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-BlackItalic.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-BoldItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-BoldItalic.ttf");
}

@font-face {
  font-family: "Lato-Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-Italic.ttf");
}

@font-face {
  font-family: "Lato-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato-LightItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-LightItalic.ttf");
}

@font-face {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Thin";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-Thin.ttf");
}

@font-face {
  font-family: "Lato-ThinItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-ThinItalic.ttf");
}

@font-face {
  font-family: "Lato-Black ";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: "Lato-BlackItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-BlackItalic.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato-BoldItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-BoldItalic.ttf");
}

@font-face {
  font-family: "Lato-Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-Italic.ttf");
}

@font-face {
  font-family: "Lato-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato-LightItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-LightItalic.ttf");
}

@font-face {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Thin";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-Thin.ttf");
}

@font-face {
  font-family: "Lato-ThinItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../font/Lato/Lato-ThinItalic.ttf");
}

/*media screen for maximum width 1024*/
/*media screen for maximum width 1024*/
/*# sourceMappingURL=min.css.map */